
.boxes{
  width: 500px;
  height: 300px;
  background-color: #F5F5FF;
  border-top: 1px solid #023e8a;
  border-right: 2px solid #023e8a;
  border-left: 2px solid #023e8a;
  border-radius: 20px;
  padding: 10px;
}
.MeowContainer {
  height: 400px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;.
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F5F5FF;
  border: 0.5px solid #023e8a; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #023e8a; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #02316e; 
}