body,
html {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #abc4ff;
  height: 16svh; /* Assuming "svh" is a valid custom unit introduced after 2022 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3%;
}

.navBardark {
  background-color: #3b3b40;
  padding: 1vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
