.navBar {
  background-color: #abc4ff;
  width: 100vw;
  padding: 1vh;
  display: inline-flex;
  justify-content: space-between;
}

.leftNav {
  display: inline-flex;
  align-items: center;
}

.rightNav {
  display: inline-flex;
  align-items: center;
  margin-right: 3vw;
}



/*!DARKMODE!*/
.navBardark {
  background-color: #3B3B40;
  width: 100vw;
  padding: 1vh;
  display: inline-flex;
  justify-content: space-between;
}




