.navBar {
  background-color: #abc4ff;
  width: 100vw;
  padding: 1vh;
  display: inline-flex;
  justify-content: space-between;
}

.leftNav {
  display: inline-flex;
  align-items: center;
}

.rightNav {
  display: inline-flex;
  align-items: center;
  margin-right: 3vw;
}

.searchButton {
  background: transparent;
  border-radius: 40px;
  border: 2px solid #023e8a;
  color: rgba(48, 90, 167, 0.8);
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  width: 9vw;
  margin-right: 0.3vw;
  cursor: pointer;
}

.searchButton:hover {
  background: aliceblue;
}
