.wholeUserProfile {
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 20%;
  color: #013374;
}

.profilePageContainer {
  border-radius: 1em;
  border: solid 0.1em #c2d3fe;
  box-shadow: 0 0.4em 0.4em 0 #c2d3fe;
  width: 50%;
  display: grid;
  justify-items: center;
  margin: 1%;
  padding: 0.7em 6em;
}

.profileImage {
  background-color: gray;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 0;
}

.userActivityHeader {
  padding: 1em 6em;
  border-radius: 1em;
  border: 0.1em solid #c1d3fe;
  background: rgba(245, 245, 255, 0.5);
  box-shadow: 0px 4px 4px 0px #c1d3fe;
  color: #023e8a;
  font-size: 1.1em;
  font-style: italic;
}

.icons {
  display: flex;
  margin-left: 93%;
}

.HeadingCol {
  color: #013374;
}

.EditBtn {
  background: transparent;
  border-radius: 40px;
  border: 2px solid #023e8a;
  color: rgba(48, 90, 167, 0.8);
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.38px;
  width: 4em;
  margin-right: 0.3vw;
}


/*!DARKMODE!*/
.wholeUserProfiledark {
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 20%;
  color: #E0E4E8;
}

.profilePageContainerdark {
  border-radius: 1em;
  border: solid 0.1em #BEBFBF;
  background: rgba(245, 245, 255, 0.5);
  box-shadow: 0 0.4em 0.4em 0 #BEBFBF;
  width: 50%;
  display: grid;
  justify-items: center;
  margin: 1%;
  padding: 1%;
  padding-right: 1.5%;

/*button {
  width: 5em;
  font-size: 1em;
  font-family: "Roboto", sans-serif;

}*/

.profileImagedark {
  background-color: gray;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 0;
}

.userActivityHeaderdark {
  padding: 1em 6em;
  border-radius: 1em;
  border-top: 3px solid #464748;
  border-right: 3px solid #464748;
  border-left: 3px solid #464748;
  background: rgba(245, 245, 255, 0.5);
  box-shadow: 0px 4px 4px 0px #464748;
  color: #E0E4E8;
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
}



/*!DARKMODE!*/