.wholeUserProfile {
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 20%;
}

.profilePageContainer {
  border-radius: 13px;
  border-top: 1px solid #abc4ff;
  border-right: 1px solid #abc4ff;
  border-left: 1px solid #abc4ff;
  background: rgba(245, 245, 255, 0.5);
  box-shadow: 0px 4px 4px 0px #c2d3fe;
  width: 50%;
  display: grid;
  justify-items: center;
  margin: 2.5%;
  padding: 4%;
}

.profileImage {
  background-color: gray;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 5px;
}

.userActivityHeader {
  padding: 22px 107px 23px 107px;
  border-radius: 21px;
  border-top: 3px solid #c1d3fe;
  border-right: 3px solid #c1d3fe;
  border-left: 3px solid #c1d3fe;
  background: rgba(245, 245, 255, 0.5);
  box-shadow: 0px 4px 4px 0px #c1d3fe;
}
