.wholeUserProfile {
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 20%;
  color: #013374;
}

.profilePageContainer {
  border-radius: 1em;
  border: solid 0.1em #c2d3fe;
  box-shadow: 0 0.4em 0.4em 0 #c2d3fe;
  width: 50%;
  display: grid;
  justify-items: center;
  margin: 1%;
  padding: 0.7em 6em;
}

.saveButton {
  border: solid 0.1em #013374;
  border-radius: 0.5em;
  background-color: #023e8a;
  color: #c2d3fe;
}

.bioTextarea {
  border: solid 0.1em #013374;
  border-radius: 0.5em;
  width: 30vw;
  height: 10vh;
}

.profileImage {
  background-color: gray;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 0;
}

.userActivityHeader {
  padding: 1em 6em;
  border-radius: 1em;
  border: 0.1em solid #c1d3fe;
  background: rgba(245, 245, 255, 0.5);
  box-shadow: 0px 4px 4px 0px #c1d3fe;
  color: #023e8a;
  font-size: 1.1em;
  font-style: italic;
}

.icons {
  display: flex;
  margin-left: 93%;
}

h2 {
  color: #013374;
}
button {
  width: 5em;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}
