.logincontainer {
    background-color: #F5F5FF;
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    border: 2px solid #023E8A ;
    padding: 10px;
    border-radius: 25px;
}
.Signupcontainer > input {
    height: 20px;
    margin: 5px 0;
     width: 200px;
 }

.loginbtn {
    background-color: #023E8A;
    color: whitesmoke;
    border-radius: 20px;
    width: 75px;
    height: 50px;
    border: none;
}

.nonusercontainer {
  margin: 0;
}

.signupbtn {
  margin: 0;
}
